@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)
.container {
    max-width: 1010px;
}

.react-bootstrap-table th>.react-bootstrap-table-sort-order.dropup>.caret:after {
    content: '\2191';
}

.react-bootstrap-table th>.react-bootstrap-table-sort-order>.caret:after {
    content: '\2193';
}

.react-bootstrap-table th .order>.dropdown>.caret:after {
    content: '\2193';
}

.react-bootstrap-table th .order>.dropup>.caret:after {
    content: '\2191';
}